body {
    user-select: none
}

th {
    font-weight: 400;
    text-align: center
}

.sidebar-contena {
    position: fixed;
    top: 0;
    left: 0
}

.main {
    width: auto;
    height: 100vh;
    position: relative;
    top: 0;
    transition: width .5s, margin-left .5s;
    display: flex
}

.title-bar {
    position: absolute;
    width: 100%
}

.search-box>div:last-child {
    display: flex;
    justify-content: center
}

.group-button,
.search-terms {
    display: block;
    position: relative
}

.main-with-sidebar-narrow {
    margin-left: 50px
}

.main-with-sidebar-wide {
    margin-left: 250px
}

.title-bar {
    cursor: default;
    top: 0;
    margin-left: 50px;
    font-size: 30px;
    font-family: Segoe print;
    font-weight: 700
}

.title-bar div {
    position: relative;
    top: -21px;
    width: 9.5em;
    height: 20px;
    background-color: #a9e2ff50
}

.search-box {
    width: 800px;
    position: relative;
    top: 60px;
    font-family: consolas
}

.search-terms {
    width: 100%;
    left: 0
}

.term-group {
    width: 100%;
    position: relative;
    top: 30px;
    height: auto;
    margin: 0 auto 0 10%
}

.term-group>div:last-child {
    width: 600px;
    border-bottom: 2px solid #000
}

.group-button {
    width: 600px;
    height: 40px;
    border-top: 2px solid #000;
    border-right: none;
    border-left: none;
    background-color: #fff;
    font-size: 25px;
    line-height: 50%;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    font-family: consolas
}

.group-button:hover {
    background-color: #f9f9f9
}

.group-button,
.group-button.active {
    border-bottom: none
}

.group-button-arrow {
    content: "";
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    transition: transform;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%)
}

.group-button.active .group-content {
    display: block
}

.group-content {
    width: 580px;
    font-family: Yu Gothic UI Semibold;
    padding-bottom: 15px;
    background-color: #fff;
    margin-left: 10px;
    display: none
}

.group-content>div {
    margin-top: 10px
}

.group-button.active .group-button-arrow {
    transform: translateY(-60%) rotate(180deg)
}

.group-button.active+.group-content {
    max-height: 1020px
}

.box {
    height: 25px
}

.hover-text {
    visibility: hidden;
    width: fit-content;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 20px;
    position: absolute;
    left: 0;
    z-index: 1;
    padding: 5px 10px 10px;
    text-align: left;
    margin-top: 25px
}

.info-circle {
    margin-left: 5px
}

.info-circle:hover~.hover-text {
    visibility: visible
}

.FumenId {
    width: 4em
}

.Title {
    width: 20em
}

.title-container {
    display: flex
}

.toggle-container,
.toggle-labels {
    display: flex;
    width: 200px;
    align-items: center
}

.toggle-container {
    margin-left: -30px;
    margin-top: 0
}

.field-toggles .toggle-container {
    flex-direction: column;
    margin-top: 20px
}

.field-toggles>.toggle-container:nth-child(2) {
    margin-left: -40px
}

.field-toggles>.toggle-container:nth-child(2)>.toggle-labels>.toggle-label:last-child {
    margin-left: 0
}

.toggle-labels {
    justify-content: space-between;
    margin-left: 25px
}

.toggle-labels:nth-of-type(2) {
    display: flex;
    width: 225px;
    align-items: center;
    justify-content: space-between
}

.toggle-label {
    flex: 1;
    align-items: center;
    justify-content: right;
    margin-top: 0 !important;
    margin-left: 10px;
    display: flex;
    width: fit-content
}

.toggle-switch {
    position: relative;
    width: 50px;
    height: 25px;
    border: 2px solid #000;
    cursor: pointer;
    margin-left: 10px;
    box-sizing: border-box
}

.toggle-switch.active .toggle-button {
    left: 50%
}

.toggle-button {
    left: 0;
    width: calc(50% - 4px);
    height: calc(100% - 4px);
    background-color: #000;
    position: absolute;
    border: 2px solid #fff;
    transition: left .15s
}

.field-match-toggle {
    display: block
}

.exact-only {
    display: none
}

.exact-only::after,
.exact-only::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #000
}

.exact-only::before {
    transform: translate(-50%, -50%) rotate(20deg)
}

.exact-only::after {
    transform: translate(-50%, -50%) rotate(-20deg)
}

.exact-only-text {
    color: red;
    width: 18em;
    display: none;
    margin-left: 80px
}

.discordid {
    width: 20em
}

.action-button {
    background: #fff;
    border: 1px solid #000;
    height: 27px;
    cursor: pointer
}

.action-button:hover {
    background-color: #f9f9f9
}

.action-button:active {
    background: #000;
    color: #fff
}

.range-from {
    margin-right: 10px
}

.range-to {
    margin-left: 10px
}

.register-date {
    width: 8em
}

.page {
    width: 4em
}

.type {
    width: 11em
}

.Field {
    width: 222px
}

.Field canvas {
    border: 1px solid #000;
    position: relative;
    right: 0
}

.field-container {
    display: flex;
    align-items: start;
    justify-content: space-around
}

.field-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.field-buttons button {
    margin-top: 5px;
    width: 100px;
    height: 30px
}

.field-toggles {
    display: flex;
    align-items: center;
    flex-direction: column
}

.reset-button {
    position: relative;
    right: 0
}

.search-buttons {
    margin-top: 50px
}

.search-buttons>button {
    height: 30px;
    width: 80px;
    font-family: Yu Gothic UI Semibold;
    font-size: 16px
}

.search-buttons>button:nth-child(2) {
    margin-left: 10px
}

.result {
    position: relative;
    width: 600px;
    border-bottom: 1px solid #5b5b5b42;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    height: 90vh;
    margin-top: 30px
}

.result-container {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    flex: 1 1 100%
}

.result-label {
    margin-top: 20px;
    font-family: consolas;
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    text-align: center
}

.result-count {
    font-weight: 700;
    font-family: consolas;
    font-size: 18px;
    padding-left: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #5b5b5b42
}

.result-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%
}

.result-table>thead {
    position: sticky;
    top: 0;
    background-color: #fff
}

.result-table>thead>tr>th:first-child {
    font-family: consolas;
    font-weight: 700;
    font-size: 18px;
    border-left: none
}

.result-table>thead>tr th {
    font-family: consolas;
    font-weight: 700;
    font-size: 18px;
    border-left: 1px solid #a4a4a433;
    padding-bottom: 5px
}

.result-table>thead>tr>th:nth-child(2) {
    width: 65px
}

.result-table>thead>tr>th:nth-child(3) {
    width: 110px
}

.result-table>thead>tr>th:nth-child(4) {
    width: 60px;
    margin-right: 1px
}

.result-table>thead>tr>th:last-child {
    width: 70px
}

.result-table>tbody>tr>td:first-child {
    text-align: left;
    text-wrap: pretty;
    user-select: text
}

.result-table>tbody>tr>td:nth-child(2) {
    width: 60px
}

.result-table>tbody>tr>td:nth-child(3) {
    width: 110px
}

.result-table>tbody>tr>td:nth-child(4) {
    width: 65px
}

.result-table>tbody>tr>td:last-child {
    width: 70px
}

.result-table tbody tr td {
    font-size: 14px;
    text-align: center
}

.result-table>tbody tr:nth-child(odd),
.result-table>tbody tr:nth-child(odd)>td>button {
    background-color: #f5f5f5
}

.result-table>tbody tr:nth-child(2n),
.result-table>tbody tr:nth-child(2n)>td>button {
    background-color: #fff
}

.result-button {
    border: none;
    width: 100%;
    text-align: center;
    font-size: 20px
}

.pop-background {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #68686845;
    top: 0;
    left: 0
}

.pop-content {
    background-color: #fff;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid #b8b8b8;
    border-radius: 20px;
    width: 600px;
    height: 430px;
    display: none
}

.pop-content>div:last-child {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center
}

.user-title {
    font-size: 25px;
    font-family: Yu Gothic UI Semibold;
    position: relative;
    top: 5px;
    left: 30px
}

.pop-close {
    float: right;
    margin-right: 10px;
    font-size: 35px;
    color: #0000004a;
    font-weight: 700;
    cursor: pointer
}

.users-container {
    border: 1px solid #000;
    width: 580px;
    height: 330px;
    margin: 10px auto 0;
    overflow-y: scroll;
    overflow-x: auto
}

.user-table {
    border-collapse: collapse;
    width: 100%
}

.user-table>thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1
}

.user-table>thead>tr th {
    text-align: left;
    font-family: segoe UI;
    font-weight: 700
}

.user-table>thead>tr>th:last-child {
    width: 55%;
    padding-left: 1em
}

.user-table thead th:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 55%;
    top: 0;
    height: 100%;
    width: .5px;
    background-color: #a4a4a433
}

.user-table tbody tr {
    height: 10px
}

.user-table tbody {
    position: relative;
    top: 10px
}

.user-table tbody tr td:last-child {
    padding-left: 1em
}

.user-input-button {
    width: 90%;
    margin: 10px auto;
    border-radius: 20px;
    font-weight: 700;
    font-size: 15px
}

.loading-window {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 380px;
    display: none;
    transform: translate(-50%, -50%);
    z-index: 2
}

.loading-t {
    position: relative;
    width: 150px;
    height: 150px;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    animation: 2s steps(1) infinite rotateMino
}

.block {
    width: 50px;
    height: 50px;
    position: absolute
}

.loading-t div:first-child {
    top: 50px;
    left: 50px
}

.loading-t div:nth-child(2) {
    top: 0;
    left: 50px
}

.loading-t div:nth-child(3) {
    top: 50px;
    left: 0
}

.loading-t div:last-child {
    top: 50px;
    left: 100px
}

@keyframes rotateMino {
    0% {
        transform: rotate(0)
    }

    25% {
        transform: rotate(90deg)
    }

    50% {
        transform: rotate(180deg)
    }

    75% {
        transform: rotate(270deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.detail-window {
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #b8b8b8;
    border-radius: 20px;
    width: 600px;
    height: 820px;
    display: none;
    user-select: text
}

.detail-title-container {
    display: flex
}

.detail-close {
    float: right;
    margin-right: 10px;
    font-size: 35px;
    color: #0000004a;
    font-weight: 700;
    cursor: pointer
}

.detail-id-title {
    display: block;
    text-align: left;
    font-family: Yu Gothic UI Semibold;
    font-size: 20px;
    position: relative;
    top: 5px;
    left: 10px;
    flex: 1
}

.detail-table {
    margin-top: 20px
}

.detail-comment {
    margin: 10px 0 auto;
    width: 100%;
    height: 135px;
    overflow-y: scroll;
    border-bottom: 1px solid #5b5b5b42
}

.detail-comment>span {
    white-space: pre-line;
    text-wrap: pretty;
    user-select: text
}

.detail-comment>div:first-child {
    border-bottom: 1px solid #5b5b5b42;
    position: sticky;
    top: 0;
    background-color: #fff;
    margin: 0;
    font-size: 18px;
    letter-spacing: .1em
}

.detail-field {
    position: relative;
    bottom: 0;
    border: 1px solid #000;
    width: 170px;
    margin: 0 auto
}

.page-moves {
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin: 0 auto;
    position: relative;
    top: -411px
}

.page-moves button {
    border: 0;
    width: 110px;
    cursor: pointer;
    height: 413px;
    background-color: transparent
}

.page-moves>button:first-child {
    text-align: left
}

.page-moves>button:nth-child(2) {
    text-align: right
}

.fumen-comment {
    position: relative;
    top: -415px;
    width: 600px;
    white-space: nowrap;
    overflow-x: scroll;
    text-align: center;
    margin-top: 10px;
    font-size: 18px
}

.fumen-page {
    position: relative;
    top: -410px;
    width: 100%;
    text-align: center
}

.fumen-page>input {
    width: 50px
}