.main {
    width: auto;
    height: 100%;
    top: 0;
    transition: width 0.5s ease, margin-left 0.5s ease;
}

.main-with-sidebar-narrow {
    margin-left: 50px
}

.main-with-sidebar-wide {
    margin-left: 250px;
}