@charset "UTF-8";

@import url(sanitize.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*-----------------reset css------------------*/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans Japanese', serif;
  font-size: 1.2rem;
  width: 640px;
  margin: 0 ;
  padding: 0;
  background-color: #EEEEEE;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #0000ff;
  text-decoration: none;
}

/*----------------reset css end-----------------*/


/* 固定バナー */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 83px;
  background-color: #333;
  color: #fff;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1; /* バナーが他の要素の上に表示されるようにする */
}

.banner .logo {
  display: flex;
  align-items: center;
}
.banner .logo img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.banner .logo p {
  margin-left: 10px;
  font-size: 32px;
  color: #fff;
}
.banner a {
  color: darkgrey;
  text-decoration: none;
  margin-left : 10px;
  font-size: 20px;
}
.banner ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width:100%;
}
.banner ul .group1 {
  display: flex;
  justify-content: left;
  width: 45%;
  margin-left: 5%;
}
.banner ul .group2 {
  display: flex;
  justify-content: right;
  width: 45%;
}

.banner li {
  margin-left: 20px;
}


/* メインコンテンツ */
main {
  margin-top: 75px; /* バナーに隠れないようにする */
  padding: 20px;
}
section {
  margin-bottom: 40px;
}
h2 {
  margin-top: 0;
}


/* レスポンシブ */
.banner .menu-toggle {
  display: none;
}
@media (max-width: 768px) {
  .banner ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px;
  }
  .banner li {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .banner .menu-toggle {
    display: block;
    cursor: pointer;
  }
  .banner .menu-toggle:before {
    content: "☰";
    font-size: 24px;
  }
  .banner.open ul {
    display: flex;
  }
}